# How bike sharing makes quick success possible

### Info

Meta data: http://DivvyBikes.com/datachallenge

#### Variables from Trips Table:

- trip_id: ID attached to each trip taken
- starttime: day and time trip started, in CST
- stoptime: day and time trip ended, in CST
- bikeid: ID attached to each bike
- tripduration: time of trip in seconds 
- from_station_name: name of station where trip originated
- to_station_name: name of station where trip terminated 
- from_station_id: ID of station where trip originated
- to_station_id: ID of station where trip terminated
- usertype: "Customer" is a rider who purchased a 24-Hour Pass; "Subscriber" is a rider who purchased an Annual Membership
- gender: gender of rider
- birthyear: birth year of rider

##### Notes:
* First row contains column names
* Total records = 759,789
* Trips that did not include a start or end date were removed from original table.
* Gender and birthday are only available for Subscribers


#### Variables from Station Table:

- name: station name    
- latitude: station latitude
- longitude: station longitude
- dpcapacity: number of total docks at each station as of 2/7/2014
- online date: date the station went live in the system

## Importing libraries

In [9]:
import numpy as np
import pandas as pd
import plotly as px
import matplotlib
import matplotlib.pyplot as plt
from datetime import datetime

## Funcions

In [129]:
# Funcion to read the data
def read_df(local):              
    for df in local:
        dataframe = pd.read_csv(df, sep = ',', low_memory=False)
        dataframe['starttime'] = pd.to_datetime(dataframe.starttime)
        dataframe['stoptime'] = pd.to_datetime(dataframe.stoptime)
        yield dataframe
        
# Funcion to analyse the data

def analyse(dataframe):    
    print(f'''A quantidade de dados faltosos:\n\n{dataframe.isna().sum()}''')

## Reading the data

In [134]:
'''dataframes = [users_2013, users_2014_1, users_2014_2, users_2015_1, users_2015_2, users_2016_1, users_2016_2, users_2017_1, 
              users_2017_2, users_2018_1, users_2018_2, users_2019_1, users_2019_2, users_2020_1, users_2020_2, users_2021_1,
              users_2021_2, users_2022_1, users_2022_2, users_2023_1]'''
localhost = [r"C:\Users\amand\OneDrive\Documentos\Git_Amanda\Dados\Biking_Share\2013\Divvy_Stations_Trips_2013\Divvy_Trips_2013.csv",
             r"C:\Users\amand\OneDrive\Documentos\Git_Amanda\Dados\Biking_Share\2014_Q1_Q2\Divvy_Trips_2014_Q1Q2.csv",
            ]
 
users_2013, users_2014_1 = read_df(localhost)

NameError: name 'df' is not defined

## Checking the data

In [70]:
users_2013.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthday,stopttime
0,4118,2013-06-27 12:11:00,2013-06-27 12:16,480,316,85,Michigan Ave & Oak St,28,Larrabee St & Menomonee St,Customer,NaN,NaN,2013-06-27 12:16:00
1,4275,2013-06-27 14:44:00,2013-06-27 14:45,77,64,32,Racine Ave & Congress Pkwy,32,Racine Ave & Congress Pkwy,Customer,NaN,NaN,2013-06-27 14:45:00
2,4291,2013-06-27 14:58:00,2013-06-27 15:05,77,433,32,Racine Ave & Congress Pkwy,19,Loomis St & Taylor St,Customer,NaN,NaN,2013-06-27 15:05:00
3,4316,2013-06-27 15:06:00,2013-06-27 15:09,77,123,19,Loomis St & Taylor St,19,Loomis St & Taylor St,Customer,NaN,NaN,2013-06-27 15:09:00
4,4342,2013-06-27 15:13:00,2013-06-27 15:27,77,852,19,Loomis St & Taylor St,55,Halsted St & James M Rochford St,Customer,NaN,NaN,2013-06-27 15:27:00

In [126]:
analyse(users_2013)

A quantidade de dados faltosos:

trip_id                   0
starttime                 0
stoptime                  0
bikeid                    0
tripduration              0
from_station_id           0
from_station_name         0
to_station_id             0
to_station_name           0
usertype                  0
gender               356742
birthday             356879
stopttime                 0
dtype: int64

In [128]:
users_2014_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905699 entries, 0 to 905698
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            905699 non-null  int64
 1   starttime          905699 non-null  datetime64[ns]
 2   stoptime           905699 non-null  datetime64[ns]
 3   bikeid             905699 non-null  int64
 4   tripduration       905699 non-null  int64
 5   from_station_id    905699 non-null  int64
 6   from_station_name  905699 non-null  object
 7   to_station_id      905699 non-null  int64
 8   to_station_name    905699 non-null  object
 9   usertype           905699 non-null  object
 10  gender             591677 non-null  object
 11  birthyear          591722 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 82.9+ MB